<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cart</title>
    <meta name="viewport" content="width=device-width ,initial-scale=1.0" />
  </head>

  <body>
          <!----Nav start-->
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/shop">Shop</a></li>
    <li><a href="/cart">🛍️</a></li>
</ul>
</nav>
      <!--- Nav End-->
    <div class="app__grid">
      <h1>Cart Page</h1>
    </div>
  </body>

  <a href="/">   <button>Home</button>
    </a>


  <footer>@Omar Ashraf Zeinhom AKA: ANDGOEDU</footer>
</html>
