<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width ,initial-scale=1.0" />
  </head>

  <body>
    <div class="app__grid">
      <!----Nav start-->
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/shop">Shop</a></li>
          <li><a href="/cart">🛍️</a></li>
        </ul>
      </nav>
      <!--- Nav End-->
      <h1>GO</h1>
      <h2>Starter in</h2>
      <img
        src="https://res.cloudinary.com/du9aympvd/image/upload/v1665493586/code/go/hello_world_ecommerce_starter_by_me/flamingo_logo_uinu1k.webp"
      />
      <h3><em> Open Source Ecommesrce FrameWork🛍️ </em></h3>

      <h4>
        Code is based on<img
          width="75px"
          height=""
          src="https://res.cloudinary.com/du9aympvd/image/upload/v1665494720/code/go/hello_world_ecommerce_starter_by_me/Go-Logo_LightBlue_mycvmc.webp"
        />
      </h4>
    </div>
  </body>

  <a href="/shop"> <button>Shop</button> </a>

  <footer>@Omar Ashraf Zeinhom AKA: ANDGOEDU</footer>
</html>
