<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width ,initial-scale=1.0" />
  </head>

  <body>
    <div class="app__grid">
      <h1>GO</h1>
      <h2>Starter in Flamingo</h2>
      <img
        src="https://res.cloudinary.com/du9aympvd/image/upload/v1665493586/code/go/hello_world_ecommerce_starter_by_me/flamingo_logo_uinu1k.webp"
      />

      <h3><em> Open Source Ecommesrce FrameWork🛍️ </em></h3>
    </div>
  </body>

  <a href="/shop"> <button>Shop</button> </a>

  <footer>@Omar Ashraf Zeinhom AKA: ANDGOEDU</footer>
</html>
